@model ASC.Web.Areas.ServiceRequests.Models.NewServiceRequestViewModel
@using System.Globalization
@{
    Layout = "_SecureLayout";
}


<div class="row" , style="margin-top:30px">
    <div class="col s12">
        <div>
            <div class="card-content">
                <div class="section blue-grey lighten-1 white-text padding-left-10px">
                    <h5>New Service Request</h5>
                </div>
                <div class="divider"></div>
                <form asp-controller="ServiceRequest" asp-action="ServiceRequest" method="post">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <select asp-for="VehicleName" asp-items="@(new SelectList(ViewBag.VehicleNames, "RowKey", "Name"))" class="** required" required>
                                    <option value="" disabled selected>Please select one option</option>
                                </select>
                                <label asp-for="VehicleName"></label>
                            </div>
                            <div class="input-field col s4">
                                <select asp-for="VehicleType" asp-items="@(new SelectList(ViewBag.VehicleTypes, "RowKey", "Name"))" class="validate" required>
                                    <option value="" disabled selected>Please select one option</option>
                                </select>
                                <label asp-for="VehicleType"></label>
                            </div>
                            <div class="input-field col s4">
                                <input asp-for="RequestedDate" type="text" class="datepicker">
                                <label asp-for="RequestedDate"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8">
                                <textarea asp-for="RequestedServices" class="materialize-textarea validate"></textarea>
                                <label asp-for="RequestedServices"></label>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 right-align">
                                    <button class="btn waves-effect waves-light btnSubmit" type="submit"
                                            name="action">
                                        Create
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            <div class="row col s12 right-align" asp-validation-summary="All"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
            });

            $('select').formSelect();
            $('[required]').css({ display: 'block', position: 'absolute', visibility: 'hidden' });
        });
    </script>
}